@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.article-title h2{
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.error{
    color: #dd0000;;
}

/*.article-image a img{
    margin: 0 auto;
}*/
